@use './partials/variables' as *;

$fa-font-path: '../webfonts';

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';







.card{
    background: linear-gradient(to right,#0000FF ,white );
    border: #0000FF;
    max-height: 400px;
    max-width: 300px;
    transition: transform 0.3s ease;
    opacity: 0;
    .card-title{
        h3{
            min-height: 3em;
            font-size: medium;
            color: white
        }
    }



     img {
         height: 160px;
         width: 100%;
            }

   .card-body{
     h6 {
        text-transform: capitalize;
     }
   }

}

.card:hover {
    box-shadow: 10px 10px 10px 10px black;
    transform: scale(1.05);
}
